In [1]:
import pandas as pd
import os

In [2]:
x,v,file =os.walk('../')
datasets = x[2]

In [7]:
df_list = []
df_name = []
for file in datasets:
    if file.split('.')[-1] == 'csv':
        df_name.append(file)
        df_list.append(pd.read_csv(f'../{file}',delimiter='|'))

In [8]:
len(df_list)

6

In [24]:
df_person = df_list[-1]
print("Porcentagem de nulos",df_name[-1])
pd.isna(df_person).sum()/df_person.shape[0]

Porcentagem de nulos Person.Person.csv

BusinessEntityID         0.000000
PersonType               0.000000
NameStyle                0.000000
Title                    0.949479
FirstName                0.000000
MiddleName               0.425546
LastName                 0.000000
Suffix                   0.997346
EmailPromotion           0.000000
AdditionalContactInfo    0.999499
Demographics             0.000000
rowguid                  0.000000
ModifiedDate             0.000000
dtype: float64

In [28]:
import numpy as np

In [11]:
df_product = df_list[-2]
print(df_name[-2])
print("Porcentagem de nulos",df_name[-2])
pd.isna(df_product).sum()/df_product.shape[0]

Production.Product.csv
Porcentagem de nulos Production.Product.csv

ProductID                0.000000
Name                     0.000000
ProductNumber            0.000000
MakeFlag                 0.000000
FinishedGoodsFlag        0.000000
Color                    0.492063
SafetyStockLevel         0.000000
ReorderPoint             0.000000
StandardCost             0.000000
ListPrice                0.000000
Size                     0.581349
SizeUnitMeasureCode      0.650794
WeightUnitMeasureCode    0.593254
Weight                   0.593254
DaysToManufacture        0.000000
ProductLine              0.448413
Class                    0.509921
Style                    0.581349
ProductSubcategoryID     0.414683
ProductModelID           0.414683
SellStartDate            0.000000
SellEndDate              0.805556
DiscontinuedDate         1.000000
rowguid                  0.000000
ModifiedDate             0.000000
dtype: float64

In [33]:
df_product['DaysToManufacture']

0      0
1      0
2      1
3      0
4      1
      ..
499    1
500    1
501    4
502    4
503    4
Name: DaysToManufacture, Length: 504, dtype: int64

In [13]:
df_sale = df_list[-3]
print(df_name[-3])
print("Porcentagem de nulos",df_name[-3])
pd.isna(df_sale).sum()/df_sale.shape[0]

Sales.Customer.csv
Porcentagem de nulos Sales.Customer.csv

CustomerID       0.000000
PersonID         0.035368
StoreID          0.932593
TerritoryID      0.000000
AccountNumber    0.000000
rowguid          0.000000
ModifiedDate     0.000000
dtype: float64

In [14]:
df_sale

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263
...,...,...,...,...,...,...,...
19815,30114,1985.0,1986.0,7,AW00030114,97154F3D-28F1-4B15-AE03-9518B781ECE3,2014-09-12 11:15:07.263
19816,30115,1987.0,1988.0,6,AW00030115,E4CF8FD5-30A4-4B8E-8FD8-47032E255778,2014-09-12 11:15:07.263
19817,30116,1989.0,1990.0,4,AW00030116,EC409609-D25D-41B8-9D15-A1AA6E89FC77,2014-09-12 11:15:07.263
19818,30117,1991.0,1992.0,4,AW00030117,6F08E2FB-1CD3-4F6E-A2E6-385669598B19,2014-09-12 11:15:07.263
19819,30118,1993.0,1994.0,3,AW00030118,2495B4EB-FE8B-459E-A1B6-DBA25C04E626,2014-09-12 11:15:07.263

In [34]:
df_sale = df_list[-4]
print(df_name[-4])
print("Porcentagem de nulos",df_name[-4])
pd.isna(df_sale).sum()/df_sale.shape[0]

Sales.SpecialOfferProduct.csv
Porcentagem de nulos Sales.SpecialOfferProduct.csv

SpecialOfferID    0.0
ProductID         0.0
rowguid           0.0
ModifiedDate      0.0
dtype: float64

In [35]:
df_sale

,SpecialOfferID,ProductID,rowguid,ModifiedDate
0,1,680,BB30B868-D86C-4557-8DB2-4B2D0A83A0FB,2011-04-01 00:00:00.000
1,1,706,B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F,2011-04-01 00:00:00.000
2,1,707,27B711FE-0B77-4EA4-AD1A-7C239956BEF4,2011-04-01 00:00:00.000
3,1,708,46CBB78B-246E-4D69-9BD6-E521277C1078,2011-04-01 00:00:00.000
4,1,709,CF102AA0-055F-4D2B-8B98-04B161758EA8,2011-04-01 00:00:00.000
...,...,...,...,...
533,16,984,52DD0F65-0EA9-4848-9884-7594BA953274,2014-03-01 00:00:00.000
534,16,985,C8127A82-05C3-42FD-A5C6-215D58A236BD,2014-03-01 00:00:00.000
535,16,986,C60FB28D-2431-481C-985E-3FEA8119D705,2014-03-01 00:00:00.000
536,16,987,BEBD6F20-D6C2-4511-8C97-1F53B2099D1F,2014-03-01 00:00:00.000
537,16,988,2981C98B-A18F-4153-A6A2-EC453CB130CE,2014-03-01 00:00:00.000

In [36]:
df_sale = df_list[-5]
print(df_name[-5])
print("Porcentagem de nulos",df_name[-5])
pd.isna(df_sale).sum()/df_sale.shape[0]

Sales.SalesOrderHeader.csv
Porcentagem de nulos Sales.SalesOrderHeader.csv

SalesOrderID              0.000000
RevisionNumber            0.000000
OrderDate                 0.000000
DueDate                   0.000000
ShipDate                  0.000000
Status                    0.000000
OnlineOrderFlag           0.000000
SalesOrderNumber          0.000000
PurchaseOrderNumber       0.879040
AccountNumber             0.000000
CustomerID                0.000000
SalesPersonID             0.879040
TerritoryID               0.000000
BillToAddressID           0.000000
ShipToAddressID           0.000000
ShipMethodID              0.000000
CreditCardID              0.035945
CreditCardApprovalCode    0.035945
CurrencyRateID            0.555824
SubTotal                  0.000000
TaxAmt                    0.000000
Freight                   0.000000
TotalDue                  0.000000
Comment                   1.000000
rowguid                   0.000000
ModifiedDate              0.000000
dtype: float64

In [40]:
df_sale['TotalDue'] = df_sale['TotalDue'].str.replace(',','.')

In [43]:
df_sale.to_csv('Sales.SalesOrderHeader2.csv',index=False,sep='|')

In [44]:
df_sale = df_list[-6]
print(df_name[-6])
print("Porcentagem de nulos",df_name[-6])
pd.isna(df_sale).sum()/df_sale.shape[0]

Sales.SalesOrderDetail.csv
Porcentagem de nulos Sales.SalesOrderDetail.csv

SalesOrderID             0.000000
SalesOrderDetailID       0.000000
CarrierTrackingNumber    0.497853
OrderQty                 0.000000
ProductID                0.000000
SpecialOfferID           0.000000
UnitPrice                0.000000
UnitPriceDiscount        0.000000
LineTotal                0.000000
rowguid                  0.000000
ModifiedDate             0.000000
dtype: float64

In [45]:
df_sale

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43659,1,4911-403C-98,1,776,1,"2024,994","0,00",2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,2011-05-31 00:00:00.000
1,43659,2,4911-403C-98,3,777,1,"2024,994","0,00",6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,2011-05-31 00:00:00.000
2,43659,3,4911-403C-98,1,778,1,"2024,994","0,00",2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,2011-05-31 00:00:00.000
3,43659,4,4911-403C-98,1,771,1,"2039,994","0,00",2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,2011-05-31 00:00:00.000
4,43659,5,4911-403C-98,1,772,1,"2039,994","0,00",2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,2011-05-31 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,121313,NaN,1,878,1,"21,98","0,00",21.980,8CAD6675-18CC-4F47-8287-97B41A8EE47D,2014-06-30 00:00:00.000
121313,75122,121314,NaN,1,712,1,"8,99","0,00",8.990,84F1C363-1C50-4442-BE16-541C59B6E12C,2014-06-30 00:00:00.000
121314,75123,121315,NaN,1,878,1,"21,98","0,00",21.980,C18B6476-429F-4BB1-828E-2BE5F82A0A51,2014-06-30 00:00:00.000
121315,75123,121316,NaN,1,879,1,"159,00","0,00",159.000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,2014-06-30 00:00:00.000
121316,75123,121317,NaN,1,712,1,"8,99","0,00",8.990,73646D26-0461-450D-8019-2C6C858619CA,2014-06-30 00:00:00.000